<app-navbar></app-navbar>
<div class="container  mw-100 d-flex flex-column align-items-center p-0" tabindex="0">
  <div class="row d-flex flex-column align-items-center mt-4 mb-4 text-center">
    <h1 id="ubicacion-contacto"title =" Ubicación y Contanto" >Ubicación y Contacto </h1>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/citas/citas-title.png" alt="HOSPITAL CLUB DE LEONES, CONTINUE CON TAB PARA REALIZAR LLAMADA,ENVIAR CORREO ONLINE, Y UN MAPA DE  UBICACIÓN">
    </div>
  </div>

</div>
  <div class="row container-bluid p-5   bg-citas "  >
    <div class="col d-flex flex-column align-items-center  gap-4">
      <div class="row text-center">
        <div class="col-sm-4 box1 pt-4">
          <a href="tel:+123456789" title="Llamar"><i class="fas fa-phone fa-3x"></i>
            <h3 class="p-0 m-0 fw-bold">TELÉFONO</h3>
            <p class="p-0 m-0 fw-bold" id="phone">+(593) 3983390</p>
            <span class="sr-only">Presione Enter para llamar al +(593) 3983390</span>
          </a>
        </div>

        <div class="col-sm-4 box2 pt-4">
          <a href="mailto:test@test.com" title="Enviar correo electrónico"><i class="fas fa-envelope fa-3x"></i>
            <h3 class="p-0 m-0 fw-bold">EMAIL</h3>
            <p class="p-0 m-0 fw-bold" id="email">info@leonesquitocentral.org </p>
            <span class="sr-only">Presione Enter para enviar un correo a info@leonesquitocentral.org </span>
          </a>
        </div>

        <div class="col-sm-4 box3 pt-4">
          <a href="https://n9.cl/ihbam" title="Ver ubicación en mapa"><i class="fas fa-home fa-3x"></i>
            <h3 class="p-0 m-0 fw-bold">UBICACIÓN</h3>
            <p class="p-0 m-0 fw-bold">Naciones Unidas e iñaquito</p>
            <span class="sr-only">Presione Enter para ir a la Ubicación de Naciones Unida e Iñaquito Hospital CLUB DE LEONES</span>
          </a>
        </div>

     </div>
    </div>
  </div>

    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <div class="container-fluid" tabindex="0">

      <h1 class="text-center" title="MAPA CLUB DE LEONES">MAPA CLUB DE LEONES</h1>
      <span class="sr-only">Continue con tab para regresar al inicio </span>

      <hr>
      <div class="row">
        <iframe  src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Naciones%20Unidas%20e%20I%C3%B1aquito+(Hospital%20Club%20de%20Leones)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100" height="800"  style="border:0" > <a href="https://n9.cl/ihbam">Car Navigation Systems</a></iframe>

      </div>

      </div>

      <app-info-final></app-info-final>






