<div class="text-white text-center pt-5" alt="Información">
    <div class="row bg-dark border py-4" alt="Información">
        <div class="col" alt="Información">
            <div tabindex="30">MAPA DEL SITIO</div>
            <div class="d-flex align-items-center ps-5 pt-4">
                <img src="../../assets/shared/chevron-right.png" class="chev-icon" alt="inicio" tabindex="31">
                Inicio
            </div>
            <div class="d-flex align-items-center ps-5">
                <img src="../../assets/shared/chevron-right.png" class="chev-icon" alt="servicios" tabindex="32">
                Servicios
            </div>
            <div class="d-flex align-items-center ps-5">
                <img src="../../assets/shared/chevron-right.png" class="chev-icon" alt="actividades" tabindex="33">
                Actividades
            </div>
            <div class="d-flex align-items-center ps-5">
                <img src="../../assets/shared/chevron-right.png" class="chev-icon" alt="donaciones" tabindex="34">
                Donaciones
            </div>
            <div class="d-flex align-items-center ps-5">
                <img src="../../assets/shared/chevron-right.png" class="chev-icon" alt="contacto" tabindex="35">
                Contacto
            </div>
        </div>
        <div class="col">
            <div tabindex="36">
                VIDEO TIPS
            </div>
            <div>
                <img src="../../../assets/shared/video-tips.png" class="pt-4" alt="Video tip gastroenterología" tabindex="37">
            </div>
        </div>
        <div class="col">
            <div tabindex="38">CONTACTO</div>
            <div class="pt-4 ps-4">
                <div class="d-flex align-items-center m-3">
                    <img src="../../../assets/shared/map-pin.png" style="width: 30px;" class="me-3" routerLink="/contacto" alt="Ir a dirección" tabindex="39">
                    <div tabindex="40">Naciones Unidas e Iñaquito</div>
                </div>
                <div class="d-flex align-items-center m-3">
                    <img src="../../../assets/shared//phone-icon-w.png" style="width: 30px;" class="me-3" alt="ícono de teléfono" tabindex="40">
                    <div tabindex="41">+(593) 2 3983390</div>
                </div>
                <div class="d-flex align-items-center m-3">
                    <img src="../../../assets/shared/mail-icon-w.png" style="width: 30px;" class="me-3" alt="ícono de correo electrónico" tabindex="42">
                    <div tabindex="43">info@leonesquitocentral.org</div>
                </div>
            </div>
        </div>
    </div>
</div>