<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid bg-warning gap-5">
        <img src="../../../assets/shared/logo.png" alt="Logotipo del club de leones">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse bg-primary" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Inicio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" routerLink="citas">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Servicios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Actividades</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Donaciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" routerLink="/contacto" >
                        Contacto
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- Info superior -->
<div class="container mw-100 bg-white">
    <div class="row py-2 fs-5">
        <div class="col d-inline float-start">
            <img src="../../../assets/shared/phone-icon.png" class="float-start f-icons" alt="Ícono de teléfono"
                tabindex="1">
            <div tabindex="2">(+593)2 3983390</div>
        </div>
        <div class="col d-inline">
            <img src="../../../assets/shared/mail-icon.png" class="float-start f-icons me-2"
                alt="Ícono de correo electrónico" tabindex="3">
            <div class="float-start" tabindex="4">info@leonesquitocentral.org</div>
        </div>
        <div class="col-3"></div>
        <div class="col">
            <div class="float-end">
                <a href="https://www.facebook.com/ClinicaClubdeLeonesQC/"><img
                        src="../../../assets/shared/facebook-icon.png" class="float-start f-icons" alt="Ir a Facebook"
                        tabindex="5"></a>
                <a href="https://www.instagram.com/clubdeleonesquitocentral/"><img
                        src="../../../assets/shared/instagram-icon.png" class="float-end f-icons" alt="Ir a Instagram"
                        tabindex="6"></a>
            </div>
        </div>
    </div>
</div>

<div class="container mw-100 color-fondo">
    <div class="row py-1 text-white fs-5">
        <div class="col-1 color-letra d-flex p-0 justify-content-center">
            <img src="../../../assets/shared/logo-nt.png" class="img-prop" alt="Logotipo del club de leones"
                tabindex="7">
        </div>
        <div class="col-3 position-relative">
            <div class="input-group mb-3 position-absolute top-50 start-50 translate-middle ps-3">
                <input type="text" class="form-control" placeholder="¿Qué quieres buscar?" alt="¿Qué quieres buscar?"
                    tabindex="8">
                <button class="btn btn-buscar" type="button" id="button-addon2" tabindex="9">Buscar</button>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="row row-cols-auto">
                <div class="col text-center border-start border-end">
                    <div class="dropdown">
                        <a class="btn text-white fs-5 opcion-lista dropdown-toggle" href="#" role="button"
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/"
                            tabindex="10">
                            Inicio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col text-center border-start border-end">
                    <div class="dropdown">
                        <a class="btn text-white fs-5 opcion-lista dropdown-toggle" href="#" role="button"
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/citas"
                            tabindex="11">
                            Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col text-center border-start border-end">
                    <div class="dropdown">
                        <a class="btn text-white fs-5 opcion-lista dropdown-toggle" href="#" role="button"
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" tabindex="12">
                            Actividades
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col text-center border-start border-end">
                    <div class="dropdown">
                        <a class="btn text-white fs-5 opcion-lista dropdown-toggle" href="#" role="button"
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" tabindex="13">
                            Donaciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col text-center border-start border-end">
                    <div class="dropdown">
                        <a class="btn text-white fs-5 opcion-lista dropdown-toggle" href="#" role="button"
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" routerLink="contacto"
                            tabindex="14">

                            Contacto
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>