/* bg-navbar {
    background: #EDA415 !important;
} */

.color-fondo{
    background-color: #3866B9;
}
.color-letra{
    color: #ffffff;
}
.borde{
    border: solid black;
}
.centrar-l{
    text-align: center;
}
.opcion-lista:hover{
    background-color: #223c6d;
    transition: 0.7s;
}
.img-prop{
    width: 100px;
    height: 100px;
    padding: 0%;
    margin: 0%;
}
@import "bootstrap";

.btn-buscar {
    background-color: #F3C73D;
    font-weight: bold;    
}
.f-icons{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}