<app-navbar></app-navbar>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="100000000">
            <img src="../../assets/shared/HCLQC-WEB-2022-05-1.png" alt="Imagen de la fachada exterior del hospital 
            Club de Leones Quito Central en la avenida Naciones Unidas e Iniaquito" class="d-block" style="width:100%">
        </div>
        <div class="carousel-item" data-bs-interval="100000000">
            <img src="../../assets/shared/quirofano.png"
                alt="Imagen de tres doctores en un quirofano realizando una operacion" class="d-block"
                style="width:100%">
        </div>
        <div class="carousel-item" data-bs-interval="100000000">
            <img src="../../assets/shared/slider_laboratorio_2.png"
                alt="Imagen de una enfermera que ha inyectado a una seniora" class="d-block" style="width:100%">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" title="imagen anterior"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon" title="siguiente imagen"></span>
    </button>
</div>

<!-- Texto informativo -->
<div class="justify-content-center">
    <div class="text-center fs-3 m-5 fw-bold">HOSPITAL CLUB DE LEONES QUITO CENTRAL</div>
    <div class="text-center">
        <img src="../../assets/shared/logo.png" alt="Logo del hospital Club de Leones Quito Central"
            class="d-block rounded mx-auto">
    </div>
    <div class="text-center fs-4 m-5">Líder en el servicio comunitario sin fines de lucro para satisfacer con
        excelencia, calidez y equidad los requerimientos de la comunidad menos favorecida, especialmente en el área de
        salud, incursionando en otros campos sociales, con un talento humano competente y bajo un sistema de autogestión
        sostenible.</div>
    <div class="row pb-5 mx-5">
        <div class="col border border-primary text-center ms-5 me-2">
            <div class="d-inline">
                <p class="fw-bold pt-4" style="color: #223c6d">HOSPITALIZACIÓN EMERGENCIAS 24 HORAS</p>
                <p style="color: #223c6d">Hospital del día, cuidados intermedios</p>
            </div>
        </div>
        <div class="col border border-primary text-center me-5 ms-2">
            <p class="pt-4 fw-bold" style="color: #223c6d">HORARIO DE ATENCIÓN</p>
            <p style="color: #223c6d">Lunes a Viernes 07:30 - 16:00 Sábados 08:00 - 12:00</p>
            <button class="btn btn-info" type="button" id="button-addon2">Más Información</button>
        </div>
    </div>
    <div>
        <div class="row position-relative d-flex align-items-center justify-content-center">
            <img src="../../assets/shared/banner-video.jpg" alt="Ninia siendo atendida por un dentista"
                class="d-block rounded" style="filter: brightness(0.5);">
            <div class="col w-25 h-25 position-absolute d-flex align-items-center justify-content-center">
                <div>
                    <a href="https://www.youtube.com/watch?v=COMpCu6ZWjs">
                        <img src="../../assets/shared/play-video.png" alt="Reproducir video">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>