<app-navbar></app-navbar>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" aria-label="Imagen uno"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1" aria-label="Imagen dos"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2" aria-label="Imagen tres"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="100000000">
            <img src="../../assets/shared/HCLQC-WEB-2022-05-1.png" role="img" alt="Imagen de la fachada exterior del hospital 
            Club de Leones Quito Central en la avenida Naciones Unidas e Iniaquito" class="d-block" style="width:100%"
                tabindex="15">
        </div>
        <div class="carousel-item" data-bs-interval="100000000">
            <img src="../../assets/shared/quirofano.png" role="img"
                alt="Imagen de tres doctores en un quirofano realizando una operacion" class="d-block"
                style="width:100%" tabindex="17">
        </div>
        <div class="carousel-item" data-bs-interval="100000000">
            <img src="../../assets/shared/slider_laboratorio_2.png" role="img"
                alt="Imagen de una enfermera que ha inyectado a una seniora" class="d-block" style="width:100%"
                tabindex="18">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" aria-label="imagen anterior" data-bs-target="#demo" data-bs-slide="prev" tabindex="19">
        <span class="carousel-control-prev-icon" title="imagen anterior"></span>
    </button>
    <button class="carousel-control-next" type="button" aria-label="siguiente imagen" data-bs-target="#demo" data-bs-slide="next" tabindex="16">
        <span class="carousel-control-next-icon" title="siguiente imagen"></span>
    </button>
</div>

<!-- Texto informativo -->
<div class="justify-content-center">
    <div class="text-center fs-3 m-5 fw-bold" tabindex="20">HOSPITAL CLUB DE LEONES QUITO CENTRAL</div>
    <div class="text-center">
        <img src="../../assets/shared/logo.png" role="img" alt="Logo del hospital Club de Leones Quito Central"
            class="d-block rounded mx-auto" tabindex="21">
    </div>
    <div class="text-center fs-4 m-5" tabindex="22">Líder en el servicio comunitario sin fines de lucro para satisfacer con
        excelencia, calidez y equidad los requerimientos de la comunidad menos favorecida, especialmente en el área de
        salud, incursionando en otros campos sociales, con un talento humano competente y bajo un sistema de autogestión
        sostenible.</div>
    <div class="row pb-5 mx-5">
        <div class="col border border-primary text-center ms-5 me-2">
            <div class="d-inline">
                <p class="fw-bold pt-4" style="color: #223c6d" tabindex="23">HOSPITALIZACIÓN EMERGENCIAS 24 HORAS</p>
                <p style="color: #223c6d" tabindex="24">Hospital del día, cuidados intermedios</p>
            </div>
        </div>
        <div class="col border border-primary text-center me-5 ms-2">
            <p class="pt-4 fw-bold" style="color: #223c6d" tabindex="25">HORARIO DE ATENCIÓN</p>
            <p style="color: #223c6d" tabindex="26">Lunes a Viernes 07:30 a 16:00 y Sábados 08:00 a 12:00</p>
            <button class="btn btn-info" type="button" id="button-addon2" tabindex="27">Más Información</button>
        </div>
    </div>
    <div>
        <div class="row position-relative d-flex align-items-center justify-content-center">
            <img src="../../assets/shared/banner-video.jpg" role="img" alt="Imagen de una ninia siendo atendida por un dentista"
                class="d-block rounded" style="filter: brightness(0.5);" tabindex="28">
            <div class="col w-25 h-25 position-absolute d-flex align-items-center justify-content-center">
                <div>
                    <a href="https://www.youtube.com/watch?v=COMpCu6ZWjs">
                        <img src="../../assets/shared/play-video.png" role="img" alt="Reproducir video introductivo del hospital" tabindex="29">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-info-final></app-info-final>