<app-navbar></app-navbar>
<div class="container mw-100 d-flex flex-column align-items-center p-0">
    <div class="row d-flex flex-column align-items-center mt-4 mb-4">
        <h1>Reagendamiento de Citas</h1>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/citas/citas-title.png" alt="decoración título">
        </div>
    </div>
    <div class="row container-fluid p-5 bg-citas">
        <div class="col d-flex flex-column align-items-center  gap-4">
            <p class="p-0 m-0 fw-bold">Número de Historia:</p>
            <input type="text"  class="rounded border border-5">
            <button class="btn btn-citas mr-2 ml-2">¿Donde encuentro esta información ?</button>
        </div>
        <div class="col d-flex flex-column align-items-center gap-4">
            <p class="p-0 m-0 fw-bold">Número de Factura</p>
            <input type="text"  class="rounded border border-5">
        </div>
        <div class="col d-flex flex-column align-items-center gap-4">
            <p class="p-0 m-0 fw-bold" >Punto de Emisión</p>
            <input type="text"  class="rounded border border-5">
            <button class="btn btn-citas mr-2 ml-2">Buscar</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-8 ">
            <h4>Recomendaciones antes de realizar el proceso</h4>
            <ul>
                <li>El reagendamiento se lo puede realizar 24 horas antes de la fecha de la cita.</li>
                <li>Para realizar el cambio de médico o especialidad, debe acercarse a “Atención al Cliente” en las instalaciones.</li>
                <li>Se puede reagendar un turno una sola vez.</li>
                <li>Una vez realizado el reagendamiento no se puede revertir.</li>
                <li>El paciente se responsabiliza por el cambio realizado.</li>
            </ul>
        </div>
    </div>
</div>
<app-info-final></app-info-final>
